.fade-in-new {
    opacity: 0;
    transition: opacity 8s ease-in;
}

.fade-in-new.visible {
    opacity: 1;
}

.registerLink {
    color: yellow;
    margin-top: -10px;
    font-size: 1.2rem;
    text-decoration: underline;
}

.dontHaveAccount {
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}